@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    font-family: 'Inter',
        sans-serif;
    background-color: #1e293b;
    height: 100vh;
}

.card-body>img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin-bottom: 15px;
}

.btn-custom {
    color: #1e293b;
    font-weight: 500;
    background-color: #fff;
}

.btn-custom:focus,
.btn-custom:active,
.btn-custom:hover {
    color: #fff;
    background-color: #5355f0;
}

/* reset css input dan button */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
select:focus {
    outline: none;
    border: 1px solid #6366f1;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control,
.form-select {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.form-control:focus,
.form-select:focus {
    border: 1px solid #9767D3;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    border-radius: 8px;
    padding: 12px 0;
    border: 1px solid #6366f1;
}

.btn:focus,
.btn:active,
.btn:hover {
    border: 1px solid #6366f1;
    outline: none !important;
    box-shadow: none !important;
}