@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }
    .link {
        padding: 30px 10px 10px;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;
    }

    .column {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }

    .column {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }

    .column {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .column {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}