@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter',
    sans-serif;
    background-color: #1e293b;
}

a {
    text-decoration: none;
}

.column {
    flex: 0 0 auto;
    width: 100%
}

.mb-15 {
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 calc(1.5rem * .5);
    margin: 0 auto;
    height: 100vh;
}

.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.375rem;
    background-color: #cbd5e1;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.profile {
    text-align: center;
    padding-top: 10px;
}
.profile > img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin-bottom: 15px;
}
.profile > p {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #1e293b;
    text-transform: capitalize;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 10px;
}
.link > a {
    padding: 15px 0;
    text-align: center;
    border: 1px solid #6366f1;
    border-radius: 8px;
    color: #1e293b;
    font-weight: 500;
    background-color: #fff;
    transition: all 0.3s ease;
}
.link > a:hover {
    color: #fff;
    background-color: #6366f1;
}